<html>
<head>
<link
	rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />

<title>Hello Twitter</title>
</head>

<body style="background-color: #000000">

	<div
		class="promo-block"
		align="center"
		style="width: 23%; height: 70%; margin: 7% auto; background-color: white; background-position: left;">

		<div
			class="container"
			align="center">
			<br />
			<br />
			<br />
			<img
				class="full-width img-responsive"
				src="/logo.png"
				alt="Image"
				style="width: 100px; height: 100px;" />
			<br />
			<br />
			<br />
			<img
				class="full-width img-responsive"
				src="/bayernlogo.png"
				alt="Image"
				align="center"
				style="width: 200px; height: 45px;" />
			<br />
			<br />
			<br />

			<div
				class="btn-group"
				role="group"
				aria-label="Basic example">
				<button
					type="button"
					class="btn btn-secondary"
					style="background-color: white">
					<img
						class="full-width img-responsive"
						src="/twitter.svg"
						alt="Image"
						style="width: 30px; height: 30px;" />
				</button>
				<button
					type="button"
					class="btn btn-secondary"
					style="background-color: white">
					<img
						class="full-width img-responsive"
						src="/fb.svg"
						alt="Image"
						style="width: 30px; height: 30px;" />
				</button>
				<button
					type="button"
					class="btn btn-secondary"
					style="background-color: white">
					<img
						class="full-width img-responsive"
						src="/youtube.svg"
						alt="Image"
						style="width: 30px; height: 30px;" />
				</button>
				<button
					type="button"
					class="btn btn-secondary"
					style="background-color: white">
					<img
						class="full-width img-responsive"
						src="/insta.svg"
						alt="Image"
						style="width: 30px; height: 30px;" />
				</button>

			</div>
			<br />
			<br />


			<form
				action="/connect/twitter"
				method="POST">
				<p>
					<button
						type="submit"
						class="btn btn-danger">SignUp</button>
				</p>
			</form>

		</div>
	</div>
</body>
</html>